.content {
  display: flex;
  justify-content: space-around;
}


.btn {
  align-self: center;
  background-color:#930b0c;
  border: none;
  padding: 35px;
  color: #f3ecca;
  font-size: 20px;
  margin-top: 20px;  
  position: absolute;
 width: 20%;
  font-family: 'Klee One', cursive;} 



body {
 background-image: url("3.jpg");
 background-size: cover;
 background-repeat: no-repeat
}

.links {
  height: 100%;
  display: flex;
  justify-content: space-around;
  margin: auto;
  align-items: center;
  color: white;
  font-family: 'Klee One', cursive;
}

.header {
  height: 12vh;
  flex: 1;
  margin: 5px;
  background-color: black;
}

.mobile {
  display: none;
}

@media all and (max-width:800px) {
  body {
    height:100vh;
    background-image: url(3.jpg);
  }

  .header, .links {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;
    
  }
  
  .one {
    height:100vh;
  }
  
  .two {
    display: none;
  }

  
  .mobile {
  align-self: flex-start;
  border: none;
  padding: 20px;
  color: #f3ecca;
  font-size: 15px;
  margin-top: 20px; 
  position: absolute;
  width: 27%;
  font-family: 'Klee One', cursive;
  background-color: #454545;

  }
  
  .btn {
  align-self: center;
  background-color:#930b0c;
  border: none;
  padding: 10px;
  color: #f3ecca;
  font-size: 20px;
  margin-top: 90px;  
  position: absolute;
  width: 30%;
  font-family: 'Klee One', cursive;} 
}